@{
    ViewData["Title"] = "About-Us";
}



        <!-- ========================
           page title
        =========================== -->
        <section class="page-title page-title-layout1 bg-overlay bg-overlay-gradient bg-parallax text-center">
            <div class="bg-img"><img src="../assets/images/page-titles/1.jpg" alt="background"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-3">
                        <h1 class="pagetitle__heading">About Us</h1>
                        <p class="pagetitle__desc mb-0 p1">
                            We are experienced professionals who understand that It services
                            is
                            changing, and are true partners who care about your success.
                        </p>
                    </div><!-- /.col-xl-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.page-title -->
        <!-- ========================
          Secondary Nav
        =========================== -->
        <section class="secondary-nav sticky-top py-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="nav nav-tabs justify-content-center">
                            <a asp-action="AboutUs" asp-controller="Home" class="nav__link active">About Us</a>
                            <a asp-action="WhyChooseUs" asp-controller="Home" class="nav__link">Why Choose Us</a>
                            <a asp-action="LeaderShip" asp-controller="Home" class="nav__link">Leadership Team</a>
                            <a asp-action="Awards" asp-controller="Home" class="nav__link">Awards & Recognition</a>
                            <a asp-action="faq" asp-controller="Home" class="nav__link">Help & FAQs</a>
                            <a asp-action="Careers" asp-controller="Home" class="nav__link">Careers</a>
                        </nav>
                    </div><!-- /.col-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.Secondary Nav -->




        <div style="width: 100%;float: left;">

            <!-- ========================
              About Layout 2
            =========================== -->
            <section class="about-layout2 pt-130 pb-90">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
                            <div class="about__img mb-40">
                                <img src="../assets/images/about/1.jpg" alt="about">
                                <blockquote class="blockquote mb-0">
                                    <h4 class="blockquote__title">
                                        You are helping to lead the charge; we can help you
                                        build on your
                                        past successes and prepare for your great future.
                                    </h4>
                                    <span class="blockquote__author">Madushanka Fernando, Founder</span>
                                </blockquote>
                            </div><!-- /.about-img -->
                        </div><!-- /.col-xl-5 -->
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-1">
                            <div class="heading-layout2 mb-40">
                                <h2 class="heading__subtitle">Improve Efficiency and Provide Better Experiences!</h2>
                                <h3 class="heading__title">Keep Your Business Safe & Ensure High Availability.</h3>
                            </div><!-- /heading -->
                            <div class="about-text-wrapper">
                                <div class="about__Text">
                                    <p class="p1">
                                        As one of the world's largest ITService Providers,
                                        our deep pool of
                                        over
                                        50 certified engineers and IT
                                        support staff are ready to help.
                                    </p>
                                    <p class="p1">
                                        Provide users with appropriate view and access permissions to requests, problems,
                                        changes, contracts,
                                        assets, solutions, and reports with our experienced professionals.
                                    </p>
                                </div>
                                <a asp-action="ContactUs" asp-controller="Home" class="btn btn__primary btn__icon mt-30">
                                    <span>Schedule An Appointment</span><i class="icon-arrow-right"></i>
                                </a>
                                <ul class="list-items list-items-layout2 list-unstyled mb-0 mt-60">
                                    <li>Delivered in more than 450,000 client’s interactions </li>
                                    <li>Provided by experts to help challenge critical activities</li>
                                    <li>Complemented with peer perspectives and advice</li>
                                </ul>
                            </div>
                        </div><!-- /.col-xl-7 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.About Layout 2 -->
            <!-- ======================
                History Timeline
                ========================= -->
            <section class="history-timeline pt-130 pb-130">
                <div class="bg-img"><img src="../assets/images/backgrounds/2.jpg" alt="background"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <h2 class="heading__subtitle color-primary">Explore Our Great History!!</h2>
                            <h3 class="heading__title color-white">We Fuel The Future Of Technology And IT.</h3>
                        </div><!-- /.col-lg-6 -->
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div>
                                <!-- timeline Item #1 -->
                                <div class="timeline-item d-flex">
                                    <h4 class="timeline__year">2016</h4>
                                    <p class="timeline__desc">
                                        We partner with you to enable your technology so that you
                                        can focus on your
                                        organization’s mission leverage our talent, and creativity to help your business
                                        succeed above all
                                        your
                                        business competitors.
                                    </p>
                                </div><!-- /.timeline-item -->
                                <!-- timeline Item #2 -->
                                <div class="timeline-item d-flex">
                                    <h4 class="timeline__year">2017</h4>
                                    <p class="timeline__desc">
                                        Our support works around the clock to ensure your work is
                                        secure and monitored
                                        safely. You have access to over 99 IT professionals working together to provide
                                        you with the most
                                        efficient IT solutions.
                                    </p>
                                </div><!-- /.timeline-item -->
                                <!-- timeline Item #3 -->
                                <div class="timeline-item d-flex">
                                    <h4 class="timeline__year">2018</h4>
                                    <p class="timeline__desc">
                                        Our people are held to the highest level accountability to
                                        ensure you are
                                        always
                                        satisfied with your results. We believe that honesty, integrity, and a
                                        commitment to ethical business
                                        practices.
                                    </p>
                                </div><!-- /.timeline-item -->
                                <!-- timeline Item #4 -->
                                <div class="timeline-item d-flex">
                                    <h4 class="timeline__year">2019</h4>
                                    <p class="timeline__desc">
                                        We cross industries and provide services to almost every
                                        business. You can
                                        leverage Dataprise either as a co-managed or supplemental asset, or as a
                                        completely outsourced IT
                                        partner.
                                    </p>
                                </div><!-- /.timeline-item -->
                                <!-- timeline Item #4 -->
                                <div class="timeline-item d-flex">
                                    <h4 class="timeline__year">2020</h4>
                                    <p class="timeline__desc">
                                        Whether providing consulting expertise on a specific
                                        vendor technology,
                                        strategizing on IT budget, providing a security assessment, or managing IT
                                        infrastructure, we can
                                        provide it all.
                                    </p>
                                </div><!-- /.timeline-item -->
                            </div>
                            <div class="cta-banner mt-70">
                                <h4 class="cta__title">
                                    Provide users with appropriate view and access permissions to
                                    requests,
                                    problems, changes, contracts, assets, solutions, and reports with our experienced
                                    professionals.
                                </h4>
                                <div class="d-flex flex-wrap">
                                    <a href="#" class="btn btn__primary btn__primary-style2 btn__xl mr-20">
                                        <i class="far fa-file-alt"></i>
                                        <span>Download Brochure</span>
                                    </a>
                                    <a asp-action="ContactUs" asp-controller="Home" class="btn btn__white btn__outlined">Get Quote</a>
                                </div>
                            </div><!-- /.cta-banner -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.History Timeline -->



            <section class="page_content" id="section-11179">
                <div class="container">

                    <div class="vc_row-full-width vc_clearfix"></div>
                    <div class="vc_row wpb_row vc_row-fluid vc_custom_1445013320212">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                                <div class="wpb_wrapper">
                                    <div class="ult-spacer spacer-615d59be5f1d9" data-id="615d59be5f1d9"
                                         data-height="50" data-height-mobile="15" data-height-tab="15"
                                         data-height-tab-portrait="15" data-height-mobile-landscape="15"
                                         style="clear:both;display:block;"></div>
                                    <div id="ult-carousel-2347508194615d59be5f235"
                                         class="ult-carousel-wrapper   ult_horizontal" data-gutter="15" data-rtl="false">
                                        <div class="ult-carousel-3168625453615d59be5f205 ">
                                            <div class="ult-item-wrap" data-animation="animated no-animation">
                                                <div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-center">
                                                    <div class="wpb_wrapper">

                                                        <div class="wpb_video_wrapper">
                                                            <iframe title="SLASSCOM 2018 Review" width="500" height="281"
                                                                    src="https://www.youtube.com/embed/_-P2XdD-HLA?feature=oembed"
                                                                    frameborder="0"
                                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                                    allowfullscreen></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ult-item-wrap" data-animation="animated no-animation">
                                                <div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-center">
                                                    <div class="wpb_wrapper">

                                                        <div class="wpb_video_wrapper">
                                                            <iframe title="SLASSCOM   2019 Year in Review" width="500"
                                                                    height="281"
                                                                    src="https://www.youtube.com/embed/xRmRWvufWcc?feature=oembed"
                                                                    frameborder="0"
                                                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                                    allowfullscreen></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">jQuery(document).ready(function ($) {
                                            if (typeof jQuery('.ult-carousel-3168625453615d59be5f205').slick == "function") {
                                                $('.ult-carousel-3168625453615d59be5f205').slick({
                                                    dots: false, autoplaySpeed: 5000, speed: 300, infinite: true, arrows: false, slidesToScroll: 1, slidesToShow: 2, swipe: false, draggable: false, touchMove: true, pauseOnHover: true, pauseOnFocus: false, responsive: [
                                                        {
                                                            breakpoint: 1026,
                                                            settings: {
                                                                slidesToShow: 2,
                                                                slidesToScroll: 1,
                                                            }
                                                        },
                                                        {
                                                            breakpoint: 1025,
                                                            settings: {
                                                                slidesToShow: 2,
                                                                slidesToScroll: 1
                                                            }
                                                        },
                                                        {
                                                            breakpoint: 760,
                                                            settings: {
                                                                slidesToShow: 2,
                                                                slidesToScroll: 1
                                                            }
                                                        }
                                                    ], pauseOnDotsHover: true, customPaging: function (slider, i) {
                                                        return '<i type="button" style= "color:#333333;" class="ultsl-record" data-role="none"></i>';
                                                    },
                                                });
                                            }
                                        });</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ========================
             Counters
            =========================== -->
            <section class="counters pt-60">
                <div class="container">
                    <div class="row">
                        <!-- counter item #1 -->
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="counter-item">
                                <h4 class="counter">200</h4>
                                <p class="p1">Projects And Software Developed</p>
                            </div><!-- /.counter-item -->
                        </div><!-- /.col-lg-3 -->
                        <!-- counter item #2 -->
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="counter-item">
                                <h4 class="counter">50</h4>
                                <p class="p1">Qualified Employees And Developers With Us</p>
                            </div><!-- /.counter-item -->
                        </div><!-- /.col-lg-3 -->
                        <!-- counter item #3 -->
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="counter-item">
                                <h4 class="counter">230</h4>
                                <p class="p1">Satisfied Clients We Have Served Globally</p>
                            </div><!-- /.counter-item -->
                        </div><!-- /.col-lg-3 -->
                        <!-- counter item #4 -->
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="counter-item">
                                <h4 class="counter">0,5</h4>
                                <p class="p1">Years Of Experience In The IT & Software Industry</p>
                            </div><!-- /.counter-item -->
                        </div><!-- /.col-lg-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.counters -->
            <!-- =========================
               Banner layout 2
              =========================== -->
            <section class="banner-layout2 py-0 bg-secondary">
                <div class="container-fluid px-0">
                    <div class="row row-no-gutter align-items-center">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="banner-text inner-padding">
                                <div class="heading-layout2 mb-60">
                                    <h2 class="heading__subtitle">Keep Your Business Safe & Ensure High Availability.</h2>
                                    <h3 class="heading__title color-white mb-30">Consultative Approach On Emerging Technology!</h3>
                                    <p class="heading__desc">
                                        Provide users with appropriate view and access permissions to requests,
                                        problems, changes, contracts, assets, solutions, and reports with our experienced professionals.
                                    </p>
                                </div><!-- /.heading -->
                                <div class="row fancybox-light">
                                    <div class="col-sm-6">
                                        <!-- fancybox item #1 -->
                                        <div class="fancybox-item">
                                            <div class="fancybox__icon">
                                                <i class="icon-website"></i>
                                            </div><!-- /.fancybox__icon -->
                                            <div class="fancybox__content">
                                                <h4 class="fancybox__title">Knowledge Base & Live Chat</h4>
                                                <p class="fancybox__desc">
                                                    Build dynamic request templates with associated workflows, and tasks
                                                    offer integral services software assets.
                                                </p>
                                                <a href="#"><i class="icon-arrow-right icon-outlined"></i></a>
                                            </div><!-- /.fancybox-content -->
                                        </div><!-- /.fancybox-item -->
                                    </div><!-- /.col-lg-3 -->
                                    <div class="col-sm-6">
                                        <!-- fancybox item #2 -->
                                        <div class="fancybox-item">
                                            <div class="fancybox__icon">
                                                <i class="icon-Primary"></i>
                                            </div><!-- /.fancybox__icon -->
                                            <div class="fancybox__content">
                                                <h4 class="fancybox__title">Custom Request Templates</h4>
                                                <p class="fancybox__desc">
                                                    Our technology allows you to offer the latest software and technology to
                                                    your possible customers!
                                                </p>
                                                <a href="#"><i class="icon-arrow-right icon-outlined"></i></a>
                                            </div><!-- /.fancybox-content -->
                                        </div><!-- /.fancybox-item -->
                                    </div><!-- /.col-lg-3 -->
                                </div><!-- /.row -->
                            </div>
                        </div><!-- /.col-xl-6 -->
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <div class="banner-img">
                                <img src="../assets/images/banners/3.jpg" alt="banner" class="w-100">
                            </div>
                        </div><!-- /.col-xl-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.Banner layout 2 -->

        </div>

