@{
    ViewData["Title"] = "Awards";
}


<!-- ========================
   page title
=========================== -->
<section class="page-title page-title-layout1 text-center bg-overlay bg-overlay-gradient bg-parallax">
    <div class="bg-img"><img src="../assets/images/page-titles/4.jpg" alt="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-3">
                <h1 class="pagetitle__heading">Awards</h1>
                <p class="pagetitle__desc">
                    We are experienced professionals who understand that It services is changing, and
                    are true partners who care about your success.
                </p>
            </div><!-- /.col-xl-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.page-title -->
<!-- ========================
  Secondary Nav
=========================== -->
<section class="secondary-nav sticky-top py-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="nav nav-tabs justify-content-center">
                    <a asp-action="AboutUs" asp-controller="Home" class="nav__link">About Us</a>
                    <a asp-action="WhyChooseUs" asp-controller="Home" class="nav__link">Why Choose Us</a>
                    <a asp-action="LeaderShip" asp-controller="Home" class="nav__link">Leadership Team</a>
                    <a asp-action="Awards" asp-controller="Home" class="nav__link active">Awards & Recognition</a>
                    <a asp-action="faq" asp-controller="Home" class="nav__link">Help & FAQs</a>
                    <a asp-action="Careers" asp-controller="Home" class="nav__link">Careers</a>
                </nav>
            </div><!-- /.col-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.Secondary Nav -->




<div style="width: 100%;float: left;">

    <!-- =========================
    Awards
    =========================== -->
    <section class="awards pt-90 pb-130">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-l-12 col-xl-6 offset-xl-2">
                    <div class="heading mb-50">
                        <h2 class="heading__subtitle">Our awards and recognitions</h2>
                        <h3 class="heading__title mb-50">Trusted By The World's Best Organizations Over The Globe!</h3>
                    </div>
                </div><!-- /.col-xl-6 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <!-- fancybox item #1 -->
                    <div class="fancybox-item">
                        <div class="fancybox__icon__img">
                            <img src="../assets/images/awards/icons/1.png" alt="icon">
                        </div><!-- /.fancybox__icon__img -->
                        <div class="fancybox__content">
                            <h4 class="fancybox__title">Sahasak Nimavum Innovation</h4>
                            <p class="fancybox__desc p1">
                                Sahasak Nimavum Innovation & SLIC award for 2013 best inventor.
                            </p>
                        </div><!-- /.fancybox-content -->
                    </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <!-- fancybox item #2 -->
                    <div class="fancybox-item">
                        <span class="pinned-ribbon"></span>
                        <div class="fancybox__icon__img">
                            <img src="../assets/images/awards/icons/2.png" alt="icon">
                        </div><!-- /.fancybox__icon__img -->
                        <div class="fancybox__content">
                            <h4 class="fancybox__title">W3 Design Award</h4>
                            <p class="fancybox__desc p1">
                                Awards celebrates digital by honoring outstanding Websites, Web
                                Marketing, Video, Sites, Apps & Social content.
                            </p>
                        </div><!-- /.fancybox-content -->
                    </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <!-- fancybox item #3 -->
                    <div class="fancybox-item">
                        <div class="fancybox__icon__img">
                            <img src="../assets/images/awards/icons/3.png" alt="icon">
                        </div><!-- /.fancybox__icon__img -->
                        <div class="fancybox__content">
                            <h4 class="fancybox__title">The FWA Award</h4>
                            <p class="fancybox__desc p1">
                                Showcasing innovation every day since 2000, our mission is to showcase
                                cutting edge creativity, regardless
                            </p>
                        </div><!-- /.fancybox-content -->
                    </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <!-- fancybox item #4 -->
                    <div class="fancybox-item">
                        <div class="fancybox__icon__img">
                            <img src="../assets/images/awards/icons/4.png" alt="icon">
                        </div><!-- /.fancybox__icon__img -->
                        <div class="fancybox__content">
                            <h4 class="fancybox__title">WWW Awards</h4>
                            <p class="fancybox__desc p1">
                                The awards that recognize the talent and effort of the best web
                                designers, developers and agencies in the world.
                            </p>
                        </div><!-- /.fancybox-content -->
                    </div><!-- /.fancybox-item -->
                </div><!-- /.col-lg-3 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-12 text-center">
                    <p class="text__link mb-0 p1">
                        Working hard to earn our customers’ trust.
                        <a href="industries.html" class="btn btn__secondary btn__link mx-1">
                            <span>Get Started!</span> <i class="icon-arrow-right icon-outlined"></i>
                        </a>
                    </p>
                </div><!-- /.col-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.Awards -->
    <!-- =========================
       Banner layout 2
      =========================== -->
    <section class="banner-layout2 py-0 bg-secondary">
        <div class="container-fluid px-0">
            <div class="row row-no-gutter align-items-center">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="banner-text inner-padding">
                        <div class="heading-layout2 mb-60">
                            <h2 class="heading__subtitle">Keep Your Business Safe & Ensure High Availability.</h2>
                            <h3 class="heading__title color-white mb-30">Consultative Approach On Emerging Technology!</h3>
                            <p class="heading__desc">
                                Provide users with appropriate view and access permissions to requests,
                                problems, changes, contracts, assets, solutions, and reports with our experienced professionals.
                            </p>
                        </div><!-- /.heading -->
                        <div class="row fancybox-light">
                            <div class="col-sm-6">
                                <!-- fancybox item #1 -->
                                <div class="fancybox-item">
                                    <div class="fancybox__icon">
                                        <i class="icon-website"></i>
                                    </div><!-- /.fancybox__icon -->
                                    <div class="fancybox__content">
                                        <h4 class="fancybox__title">Knowledge Base & Live Chat</h4>
                                        <p class="fancybox__desc">
                                            Build dynamic request templates with associated workflows, and tasks
                                            offer integral services software assets.
                                        </p>
                                        <a href="#"><i class="icon-arrow-right icon-outlined"></i></a>
                                    </div><!-- /.fancybox-content -->
                                </div><!-- /.fancybox-item -->
                            </div><!-- /.col-lg-3 -->
                            <div class="col-sm-6">
                                <!-- fancybox item #2 -->
                                <div class="fancybox-item">
                                    <div class="fancybox__icon">
                                        <i class="icon-Primary"></i>
                                    </div><!-- /.fancybox__icon -->
                                    <div class="fancybox__content">
                                        <h4 class="fancybox__title">Custom Request Templates</h4>
                                        <p class="fancybox__desc">
                                            Our technology allows you to offer the latest software and technology to
                                            your possible customers!
                                        </p>
                                        <a href="#"><i class="icon-arrow-right icon-outlined"></i></a>
                                    </div><!-- /.fancybox-content -->
                                </div><!-- /.fancybox-item -->
                            </div><!-- /.col-lg-3 -->
                        </div><!-- /.row -->
                    </div>
                </div><!-- /.col-xl-6 -->
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="banner-img">
                        <img src="../assets/images/banners/3.jpg" alt="banner" class="w-100">
                    </div>
                </div><!-- /.col-xl-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.Banner layout 2 -->

</div>