@{
    ViewData["Title"] = "Blog";
}


<!-- ========================
   page title
=========================== -->
<section class="page-title page-title-layout14 bg-overlay bg-overlay-gradient bg-parallax text-center">
    <div class="bg-img"><img src="../assets/images/page-titles/14.jpg" alt="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="pagetitle__heading">Our Blog</h1>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.page-title -->





<div style="width: 100%;float: left;">


    <section class="page_content pt-50 pb-50" id="section-53">
        <div class="container">
            <div class="vc_row wpb_row vc_row-fluid">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                <div class="wpb_wrapper">
                                    <div class='asp_w asp_m asp_m_4 asp_m_4_1 wpdreams_asp_sc wpdreams_asp_sc-4 ajaxsearchpro asp_main_container  asp_non_compact'
                                         data-id="4" data-instance="1" id='ajaxsearchpro4_1'>

                                        <div id='ajaxsearchprores4_1'
                                             class='asp_w asp_r asp_r_4 asp_r_4_1 vertical ajaxsearchpro wpdreams_asp_sc wpdreams_asp_sc-4'
                                             data-id="4" data-instance="1">




                                            <div class="results">


                                                <div class="resdrg">
                                                </div>


                                            </div>





                                            <div class="asp_res_loader hiddend">
                                                <div class="asp_loader">
                                                    <div class="asp_loader-inner asp_simple-circle">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id='ajaxsearchprosettings4_1'
                                             class="asp_w asp_s asp_s_4 asp_s_4_1 wpdreams_asp_sc wpdreams_asp_sc-4 ajaxsearchpro searchsettings"
                                             data-id="4" data-instance="1">
                                            <form name='options' class="asp-fss-flex" autocomplete='off'>
                                                <input type="hidden" style="display:none;"
                                                       name="current_page_id" value="53">
                                                <input type='hidden' name='qtranslate_lang'
                                                       style="display:none;" value='0' />
                                                <input type="hidden" name="filters_changed"
                                                       style="display:none;" value="0">
                                                <input type="hidden" name="filters_initial"
                                                       style="display:none;" value="1">
                                                <fieldset class="asp_filter_generic asp_filter_id_2 asp_filter_n_1">
                                                    <legend>Generic filters</legend>
                                                    <div class="asp_option">
                                                        <div class="asp_option_inner">
                                                            <input type="checkbox" value="exact"
                                                                   id="set_exact4_1"
                                                                   aria-label="Exact matches only"
                                                                   name="asp_gen[]" />
                                                            <label aria-hidden="true" for="set_exact4_1">
                                                                Hidden label
                                                            </label>
                                                        </div>
                                                        <div class="asp_option_label">
                                                            Exact matches only
                                                        </div>
                                                    </div>
                                                    <div class="asp_option">
                                                        <div class="asp_option_inner">
                                                            <input type="checkbox" value="title"
                                                                   id="set_title4_1" data-origvalue="1"
                                                                   aria-label="Search in title" name="asp_gen[]"
                                                                   checked="checked" />
                                                            <label aria-hidden="true" for="set_title4_1">
                                                                Hidden label
                                                            </label>
                                                        </div>
                                                        <div class="asp_option_label">
                                                            Search in title
                                                        </div>
                                                    </div>
                                                    <div class="asp_option">
                                                        <div class="asp_option_inner">
                                                            <input type="checkbox" value="content"
                                                                   id="set_content4_1"
                                                                   aria-label="Search in content"
                                                                   name="asp_gen[]" />
                                                            <label aria-hidden="true" for="set_content4_1">
                                                                Hidden label
                                                            </label>
                                                        </div>
                                                        <div class="asp_option_label">
                                                            Search in content
                                                        </div>
                                                    </div>
                                                    <div class="asp_option">
                                                        <div class="asp_option_inner">
                                                            <input type="checkbox" value="excerpt"
                                                                   id="set_excerpt4_1"
                                                                   aria-label="Search in excerpt"
                                                                   name="asp_gen[]" />
                                                            <label aria-hidden="true" for="set_excerpt4_1">
                                                                Hidden label
                                                            </label>
                                                        </div>
                                                        <div class="asp_option_label">
                                                            Search in excerpt
                                                        </div>
                                                    </div>
                                                </fieldset> <input type="checkbox"
                                                                   style="display: none !important;" value="post"
                                                                   aria-label="Hidden label" aria-hidden="true"
                                                                   id="4_1customset_4_1100" name="customset[]"
                                                                   checked="checked" />
                                                <fieldset data-asp_invalid_msg="This field is required!"
                                                          class="asp_filter_tax asp_filter_tax_category asp_checkboxes_filter_box asp_filter_id_1 asp_filter_n_0">
                                                    <legend>Filter by Categories</legend>
                                                    <div class='category_filter_box categoryfilter asp_sett_scroll'>
                                                        <div class="asp_option_cat asp_option asp_option asp_option_cat_level-0"
                                                             data-lvl="0" asp_cat_parent="0">
                                                            <div class="asp_option_inner">
                                                                <input type="checkbox" value="1"
                                                                       class="asp_category_checkbox"
                                                                       aria-label="News" name="termset[category][]"
                                                                       id="4_1termset_1" data-origvalue="1"
                                                                       checked="checked" />
                                                                <label aria-hidden="true" for="4_1termset_1">
                                                                    Hidden label
                                                                </label>
                                                            </div>
                                                            <div class="asp_option_label">
                                                                News
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <div style="clear:both;"></div>
                                            </form>
                                        </div>

                                    </div>
                                    <div class='asp_hidden_data' id="asp_hidden_data_4_1" style="display:none;">

                                        <div class='asp_item_overlay'>
                                            <div class='asp_item_inner'>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512"
                                                     viewBox="0 0 512 512">
                                                    <path d="M448.225 394.243l-85.387-85.385c16.55-26.08 26.146-56.986 26.146-90.094 0-92.99-75.652-168.64-168.643-168.64-92.988 0-168.64 75.65-168.64 168.64s75.65 168.64 168.64 168.64c31.466 0 60.94-8.67 86.176-23.734l86.14 86.142c36.755 36.754 92.355-18.783 55.57-55.57zm-344.233-175.48c0-64.155 52.192-116.35 116.35-116.35s116.353 52.194 116.353 116.35S284.5 335.117 220.342 335.117s-116.35-52.196-116.35-116.352zm34.463-30.26c34.057-78.9 148.668-69.75 170.248 12.863-43.482-51.037-119.984-56.532-170.248-12.862z" />
                                                </svg>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="asp_init_data" style="display:none !important;"
                                         id="asp_init_id_4_1"
                                         data-aspdata="ew0KICAgICJob21ldXJsIjogImh0dHBzOi8vc2xhc3Njb20ubGsvIiwNCiAgICAicmVzdWx0c3R5cGUiOiAidmVydGljYWwiLA0KICAgICJyZXN1bHRzcG9zaXRpb24iOiAiaG92ZXIiLA0KICAgICJyZXN1bHRzU25hcFRvIjogImxlZnQiLA0KICAgICJyZXN1bHRzIjogew0KICAgICAgICAid2lkdGgiOiAiYXV0byIsDQogICAgICAgICJ3aWR0aF90YWJsZXQiOiAiYXV0byIsDQogICAgICAgICJ3aWR0aF9waG9uZSI6ICJhdXRvIg0KICAgIH0sDQogICAgIml0ZW1zY291bnQiOiA0LA0KICAgICJpbWFnZXdpZHRoIjogNzAsDQogICAgImltYWdlaGVpZ2h0IjogNzAsDQogICAgInJlc3VsdGl0ZW1oZWlnaHQiOiAiYXV0byIsDQogICAgInNob3dhdXRob3IiOiAwLA0KICAgICJzaG93ZGF0ZSI6IDAsDQogICAgInNob3dkZXNjcmlwdGlvbiI6IDEsDQogICAgImNoYXJjb3VudCI6ICAwLA0KICAgICJoaWdobGlnaHQiOiAwLA0KICAgICJoaWdobGlnaHR3aG9sZXdvcmRzIjogMSwNCiAgICAib3BlblRvQmxhbmsiOiAwLA0KICAgICJzY3JvbGxUb1Jlc3VsdHMiOiAwLA0KICAgICJyZXN1bHRhcmVhY2xpY2thYmxlIjogMSwNCiAgICAiYXV0b2NvbXBsZXRlIjogew0KICAgICAgICAiZW5hYmxlZCI6IDEsDQogICAgICAgICJnb29nbGVPbmx5IjogMCwNCiAgICAgICAgImxhbmciOiAiZW4iLA0KICAgICAgICAibW9iaWxlIjogMSAgICB9LA0KICAgICJ0cmlnZ2Vyb250eXBlIjogMSwNCiAgICAidHJpZ2dlcl9vbl9jbGljayI6IDAsDQogICAgInRyaWdnZXJPbkZhY2V0Q2hhbmdlIjogMSwNCiAgICAidHJpZ2dlciI6IHsNCiAgICAgICAgImRlbGF5IjogMzAwLA0KICAgICAgICAiYXV0b2NvbXBsZXRlX2RlbGF5IjogMzEwICAgIH0sDQogICAgIm92ZXJyaWRld3BkZWZhdWx0IjogMCwNCiAgICAib3ZlcnJpZGVfbWV0aG9kIjogImdldCIsDQogICAgInJlZGlyZWN0b25jbGljayI6IDEsDQogICAgInJlZGlyZWN0Q2xpY2tUbyI6ICJyZXN1bHRzX3BhZ2UiLA0KICAgICJyZWRpcmVjdENsaWNrTG9jIjogInNhbWUiLA0KICAgICJyZWRpcmVjdF9vbl9lbnRlciI6IDEsDQogICAgInJlZGlyZWN0RW50ZXJUbyI6ICJyZXN1bHRzX3BhZ2UiLA0KICAgICJyZWRpcmVjdEVudGVyTG9jIjogInNhbWUiLA0KICAgICJyZWRpcmVjdF91cmwiOiAiP3M9e3BocmFzZX0iLA0KICAgICJzZXR0aW5ncyI6IHsNCiAgICAgICAgImhpZGVDaGlsZHJlbiI6IDAgICAgfSwNCiAgICAic2V0dGluZ3NpbWFnZXBvcyI6ICJyaWdodCIsDQogICAgInNldHRpbmdzVmlzaWJsZSI6IDAsDQogICAgInNldHRpbmdzSGlkZU9uUmVzIjogMCwNCiAgICAiaHJlc3VsdGhpZGVkZXNjIjogIjAiLA0KICAgICJwcmVzY29udGFpbmVyaGVpZ2h0IjogIjQwMHB4IiwNCiAgICAicHNob3dzdWJ0aXRsZSI6ICIwIiwNCiAgICAicHNob3dkZXNjIjogIjEiLA0KICAgICJjbG9zZU9uRG9jQ2xpY2siOiAxLA0KICAgICJpc290b3BpYyI6IHsNCiAgICAgICAgIml0ZW1XaWR0aCI6ICIyMDBweCIsDQogICAgICAgICJpdGVtV2lkdGhUYWJsZXQiOiAiMjAwcHgiLA0KICAgICAgICAiaXRlbVdpZHRoUGhvbmUiOiAiMjAwcHgiLA0KICAgICAgICAiaXRlbUhlaWdodCI6ICIyMDBweCIsDQogICAgICAgICJpdGVtSGVpZ2h0VGFibGV0IjogIjIwMHB4IiwNCiAgICAgICAgIml0ZW1IZWlnaHRQaG9uZSI6ICIyMDBweCIsDQogICAgICAgICJwYWdpbmF0aW9uIjogMSwNCiAgICAgICAgInJvd3MiOiAyLA0KICAgICAgICAiZ3V0dGVyIjogNSwNCiAgICAgICAgInNob3dPdmVybGF5IjogMSwNCiAgICAgICAgImJsdXJPdmVybGF5IjogMSwNCiAgICAgICAgImhpZGVDb250ZW50IjogMSAgICB9LA0KICAgICJsb2FkZXJMb2NhdGlvbiI6ICJhdXRvIiwNCiAgICAiYW5hbHl0aWNzIjogMCwNCiAgICAiYW5hbHl0aWNzU3RyaW5nIjogIj9hamF4X3NlYXJjaD17YXNwX3Rlcm19IiwNCiAgICAic2hvd19tb3JlIjogew0KICAgICAgICAiZW5hYmxlZCI6IDAsDQogICAgICAgICJ1cmwiOiAiP3M9e3BocmFzZX0iLA0KICAgICAgICAiYWN0aW9uIjogImFqYXgiLA0KICAgICAgICAibG9jYXRpb24iOiAic2FtZSIsDQogICAgICAgICJpbmZpbml0ZSI6IDEgICAgfSwNCiAgICAibW9iaWxlIjogew0KICAgICAgICAidHJpZ2dlcl9vbl90eXBlIjogMSwNCiAgICAgICAgImNsaWNrX2FjdGlvbiI6ICJyZXN1bHRzX3BhZ2UiLA0KICAgICAgICAicmV0dXJuX2FjdGlvbiI6ICJyZXN1bHRzX3BhZ2UiLA0KICAgICAgICAiY2xpY2tfYWN0aW9uX2xvY2F0aW9uIjogInNhbWUiLA0KICAgICAgICAicmV0dXJuX2FjdGlvbl9sb2NhdGlvbiI6ICJzYW1lIiwNCiAgICAgICAgInJlZGlyZWN0X3VybCI6ICI/cz17cGhyYXNlfSIsDQogICAgICAgICJoaWRlX2tleWJvYXJkIjogMSwNCiAgICAgICAgImZvcmNlX3Jlc19ob3ZlciI6IDAsDQogICAgICAgICJmb3JjZV9zZXR0X2hvdmVyIjogMCwNCiAgICAgICAgImZvcmNlX3NldHRfc3RhdGUiOiAiY2xvc2VkIg0KICAgIH0sDQogICAgImNvbXBhY3QiOiB7DQogICAgICAgICJlbmFibGVkIjogMCwNCiAgICAgICAgIndpZHRoIjogIjEwMCUiLA0KICAgICAgICAid2lkdGhfdGFibGV0IjogIjQ4MHB4IiwNCiAgICAgICAgIndpZHRoX3Bob25lIjogIjMyMHB4IiwNCiAgICAgICAgImNsb3NlT25NYWduaWZpZXIiOiAxLA0KICAgICAgICAiY2xvc2VPbkRvY3VtZW50IjogMCwNCiAgICAgICAgInBvc2l0aW9uIjogInN0YXRpYyIsDQogICAgICAgICJvdmVybGF5IjogMCAgICB9LA0KICAgICJzYiI6IHsNCiAgICAgICAgInJlZGlyZWN0X2FjdGlvbiI6ICJhamF4X3NlYXJjaCIsDQogICAgICAgICJyZWRpcmVjdF9sb2NhdGlvbiI6ICJzYW1lIiwNCiAgICAgICAgInJlZGlyZWN0X3VybCI6ICI/cz17cGhyYXNlfSINCiAgICB9LA0KICAgICJyYiI6IHsNCiAgICAgICAgImFjdGlvbiI6ICJub3RoaW5nIg0KICAgIH0sDQogICAgImFuaW1hdGlvbnMiOiB7DQogICAgICAgICJwYyI6IHsNCiAgICAgICAgICAgICJzZXR0aW5ncyI6IHsNCiAgICAgICAgICAgICAgICAiYW5pbSIgOiAiZmFkZWRyb3AiLA0KICAgICAgICAgICAgICAgICJkdXIiICA6IDMwMCAgICAgICAgICAgIH0sDQogICAgICAgICAgICAicmVzdWx0cyIgOiB7DQogICAgICAgICAgICAgICAgImFuaW0iIDogImZhZGVkcm9wIiwNCiAgICAgICAgICAgICAgICAiZHVyIiAgOiAzMDAgICAgICAgICAgICB9LA0KICAgICAgICAgICAgIml0ZW1zIiA6ICJmYWRlSW5Eb3duIg0KICAgICAgICB9LA0KICAgICAgICAibW9iIjogew0KICAgICAgICAgICAgInNldHRpbmdzIjogew0KICAgICAgICAgICAgICAgICJhbmltIiA6ICJmYWRlZHJvcCIsDQogICAgICAgICAgICAgICAgImR1ciIgIDogMzAwICAgICAgICAgICAgfSwNCiAgICAgICAgICAgICJyZXN1bHRzIiA6IHsNCiAgICAgICAgICAgICAgICAiYW5pbSIgOiAiZmFkZWRyb3AiLA0KICAgICAgICAgICAgICAgICJkdXIiICA6IDMwMCAgICAgICAgICAgIH0sDQogICAgICAgICAgICAiaXRlbXMiIDogInZvaWRhbmltIg0KICAgICAgICB9DQogICAgfSwNCiAgICAiY2hvc2VuIjogew0KICAgICAgICAibm9yZXMiOiAiTm8gcmVzdWx0cyBtYXRjaCINCiAgICB9LA0KICAgICJkZXRlY3RWaXNpYmlsaXR5IiA6IDAsDQogICAgImF1dG9wIjogew0KICAgICAgICAic3RhdGUiOiAiZGlzYWJsZWQiLA0KICAgICAgICAicGhyYXNlIjogIiIsDQogICAgICAgICJjb3VudCI6IDEwICAgIH0sDQogICAgInJlc1BhZ2UiOiB7DQogICAgICAgICJ1c2VBamF4IjogMCwNCiAgICAgICAgInNlbGVjdG9yIjogIiNtYWluIg0KICAgIH0sDQogICAgImZzc19sYXlvdXQiOiAiZmxleCIsDQogICAgInNjcm9sbEJhciI6IHsNCiAgICAgICAgInZlcnRpY2FsIjogew0KICAgICAgICAgICAgImF1dG9IaWRlIjogMSAgICAgICAgfSwNCiAgICAgICAgImhvcml6b250YWwiOiB7DQogICAgICAgICAgICAiYXV0b0hpZGUiOiAxICAgICAgICB9LA0KICAgICAgICAic2V0dGluZ3MiOiB7DQogICAgICAgICAgICAiYXV0b0hpZGUiOiAwICAgICAgICB9DQogICAgfSwNCiAgICAicHJldmVudEJvZHlTY3JvbGwiOiAwLA0KICAgICJzdGF0aXN0aWNzIjogMH0NCg==">
                                    </div>

                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 32px">
                                <span class="vc_empty_space_inner"></span>
                            </div>
                            <div class="vcblogandnews-clear"></div>
                            <div class="vcblogandnews vcblogandnews-np-v2-vc-element-news vcblogandnews-np-v2-load-more-news-style4 vcblogandnews-np-v2-news-style4 vcblogandnews-np-v2-vc-news-3-col element-no-padding vcblogandnews-np-v2-vc-element-news-1">
                                <div class="vcblogandnews-np-v2-vc-element-news-article-container">
                                    <article class="item-news first-element-news col-xs-4 vcblogandnews-np-v2-item-load-more-style4 vc-element-post-odd">
                                        <div class="article-image">
                                            <a href="../slasscom-signs-mou-with-slanzbc-to-boost-it-bpm-industry-opportunities-in-australasia/index.html">
                                                <img class="vcblogandnews-thumbs"
                                                     src="../wp-content/uploads/2021/10/Australian-Sri-Lanka-446x248.jpg"
                                                     alt="SLASSCOM signs MOU with SLANZBC to  boost IT/ BPM industry opportunities in Australasia">
                                            </a>
                                            <div class="article-category">
                                                <a href="../category/news/index.html"
                                                   title="View all posts in News">News</a>
                                            </div>
                                            <div class="article-info-top">
                                                <div class="article-data">
                                                    <i class="fa fa-calendar-o"></i>October 4, 2021
                                                </div>
                                                <div class="article-separator">|</div>
                                                <div class="article-comments">
                                                    <i class="fa fa-comment-o"></i>No
                                                    Comments
                                                </div>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                        <div class="article-info">
                                            <div class="article-info-bottom">
                                                <h3 class="article-title">
                                                    <a href="../slasscom-signs-mou-with-slanzbc-to-boost-it-bpm-industry-opportunities-in-australasia/index.html">
                                                        SLASSCOM
                                                        signs MOU with SLANZBC to boost IT/ BPM industry
                                                        opportunities in Australasia
                                                    </a>
                                                </h3>
                                                <p class="article-excerpt">
                                                    SLASSCOM, Sri Lanka’s national
                                                    chamber for the IT/BPM industry and a trailblazer in the
                                                    sector, recently signed a Memorandum of Understanding (MOU)
                                                    <a class="article-read-more"
                                                       href="../slasscom-signs-mou-with-slanzbc-to-boost-it-bpm-industry-opportunities-in-australasia/index.html">...</a>
                                                </p>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="item-news first-element-news col-xs-4 vcblogandnews-np-v2-item-load-more-style4 vc-element-post-even">
                                        <div class="article-image">
                                            <a href="../slasscoms-product-and-platform-council-is-making-headway-in-supporting-companies-to-scale-up/index.html">
                                                <img class="vcblogandnews-thumbs"
                                                     src="../wp-content/uploads/2021/10/virtual-assistants2-Shutterstock-446x248.jpg"
                                                     alt="SLASSCOM’s Product and Platform Council is making headway in supporting companies to scale up">
                                            </a>
                                            <div class="article-category">
                                                <a href="../category/news/index.html"
                                                   title="View all posts in News">News</a>
                                            </div>
                                            <div class="article-info-top">
                                                <div class="article-data">
                                                    <i class="fa fa-calendar-o"></i>October 4, 2021
                                                </div>
                                                <div class="article-separator">|</div>
                                                <div class="article-comments">
                                                    <i class="fa fa-comment-o"></i>No
                                                    Comments
                                                </div>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                        <div class="article-info">
                                            <div class="article-info-bottom">
                                                <h3 class="article-title">
                                                    <a href="../slasscoms-product-and-platform-council-is-making-headway-in-supporting-companies-to-scale-up/index.html">
                                                        SLASSCOM’s
                                                        Product and Platform Council is making headway in
                                                        supporting companies to scale up
                                                    </a>
                                                </h3>
                                                <p class="article-excerpt">
                                                    Since its inception in August, 2020,
                                                    the Product and Platform Council (PPC) of Sri Lanka
                                                    Association of Software and Services Companies (SLASSCOM)
                                                    has<a class="article-read-more"
                                                          href="../slasscoms-product-and-platform-council-is-making-headway-in-supporting-companies-to-scale-up/index.html">...</a>
                                                </p>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="item-news first-element-news col-xs-4 vcblogandnews-np-v2-item-load-more-style4 vc-element-post-odd">
                                        <div class="article-image">
                                            <a href="../slasscom-launches-value-driven-program-to-enhance-the-skills-of-ict-educators-in-the-country/index.html">
                                                <img class="vcblogandnews-thumbs"
                                                     src="../wp-content/uploads/2021/10/118456866_2175303075946495_7176997367988550448_n-446x248.jpg"
                                                     alt="SLASSCOM launches value driven program to enhance the skills of ICT  Educators in the country">
                                            </a>
                                            <div class="article-category">
                                                <a href="../category/news/index.html"
                                                   title="View all posts in News">News</a>
                                            </div>
                                            <div class="article-info-top">
                                                <div class="article-data">
                                                    <i class="fa fa-calendar-o"></i>October 4, 2021
                                                </div>
                                                <div class="article-separator">|</div>
                                                <div class="article-comments">
                                                    <i class="fa fa-comment-o"></i>No
                                                    Comments
                                                </div>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                        <div class="article-info">
                                            <div class="article-info-bottom">
                                                <h3 class="article-title">
                                                    <a href="../slasscom-launches-value-driven-program-to-enhance-the-skills-of-ict-educators-in-the-country/index.html">
                                                        SLASSCOM
                                                        launches value driven program to enhance the skills of
                                                        ICT Educators in the country
                                                    </a>
                                                </h3>
                                                <p class="article-excerpt">
                                                    In its mission to uplift the ICT
                                                    sector of the nation SLASSCOM, has identified the refinement
                                                    of how the population is educated on subjects related to<a class="article-read-more"
                                                                                                               href="../slasscom-launches-value-driven-program-to-enhance-the-skills-of-ict-educators-in-the-country/index.html">...</a>
                                                </p>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                    </article>
                                    <div class="vcblogandnews-clear"></div>
                                    <article class="item-news first-element-news col-xs-4 vcblogandnews-np-v2-item-load-more-style4 vc-element-post-even">
                                        <div class="article-image">
                                            <a href="../slasscoms-hosts-5th-quality-and-business-excellence-summit-2021/index.html">
                                                <img class="vcblogandnews-thumbs"
                                                     src="../wp-content/uploads/2021/05/Hero-1600-446x248.png"
                                                     alt="SLASSCOM’s hosts 5th Quality and Business Excellence Summit 2021">
                                            </a>
                                            <div class="article-category">
                                                <a href="../category/news/index.html"
                                                   title="View all posts in News">News</a>
                                            </div>
                                            <div class="article-info-top">
                                                <div class="article-data">
                                                    <i class="fa fa-calendar-o"></i>May
                                                    28, 2021
                                                </div>
                                                <div class="article-separator">|</div>
                                                <div class="article-comments">
                                                    <i class="fa fa-comment-o"></i>No
                                                    Comments
                                                </div>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                        <div class="article-info">
                                            <div class="article-info-bottom">
                                                <h3 class="article-title">
                                                    <a href="../slasscoms-hosts-5th-quality-and-business-excellence-summit-2021/index.html">
                                                        SLASSCOM’s
                                                        hosts 5th Quality and Business Excellence Summit
                                                        2021
                                                    </a>
                                                </h3>
                                                <p class="article-excerpt">
                                                    The Quality and Business Excellence
                                                    Summit, organised by the Quality Forum was held recently
                                                    with over 270 participants, who gathered to listen to som<a class="article-read-more"
                                                                                                                href="../slasscoms-hosts-5th-quality-and-business-excellence-summit-2021/index.html">...</a>
                                                </p>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="item-news first-element-news col-xs-4 vcblogandnews-np-v2-item-load-more-style4 vc-element-post-odd">
                                        <div class="article-image">
                                            <a href="../slasscom-national-ingenuity-awards-2021/index.html">
                                                <img class="vcblogandnews-thumbs"
                                                     src="../wp-content/uploads/2021/05/CHA_1165-446x248.jpg"
                                                     alt="SLASSCOM National ingenuity Awards 2021">
                                            </a>
                                            <div class="article-category">
                                                <a href="../category/news/index.html"
                                                   title="View all posts in News">News</a>
                                            </div>
                                            <div class="article-info-top">
                                                <div class="article-data">
                                                    <i class="fa fa-calendar-o"></i>May 3,
                                                    2021
                                                </div>
                                                <div class="article-separator">|</div>
                                                <div class="article-comments">
                                                    <i class="fa fa-comment-o"></i>No
                                                    Comments
                                                </div>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                        <div class="article-info">
                                            <div class="article-info-bottom">
                                                <h3 class="article-title">
                                                    <a href="../slasscom-national-ingenuity-awards-2021/index.html">
                                                        SLASSCOM
                                                        National ingenuity Awards 2021
                                                    </a>
                                                </h3>
                                                <p class="article-excerpt">
                                                    SLASSCOM concluded its National
                                                    Ingenuity Awards 2021 – at a Gala event at the Shangri-La
                                                    Hotel, Colombo on 30 March 2021. This flagship event which<a class="article-read-more"
                                                                                                                 href="../slasscom-national-ingenuity-awards-2021/index.html">...</a>
                                                </p>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="item-news first-element-news col-xs-4 vcblogandnews-np-v2-item-load-more-style4 vc-element-post-even">
                                        <div class="article-image">
                                            <a href="../slasscom-to-release-best-practices-on-wfh/index.html">
                                                <img class="vcblogandnews-thumbs"
                                                     src="../wp-content/uploads/2020/06/WFH-1-446x248.jpg"
                                                     alt="SLASSCOM to release best practices on WFH">
                                            </a>
                                            <div class="article-category">
                                                <a href="../category/news/index.html"
                                                   title="View all posts in News">News</a>
                                            </div>
                                            <div class="article-info-top">
                                                <div class="article-data">
                                                    <i class="fa fa-calendar-o"></i>June
                                                    11, 2020
                                                </div>
                                                <div class="article-separator">|</div>
                                                <div class="article-comments">
                                                    <i class="fa fa-comment-o"></i>No
                                                    Comments
                                                </div>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                        <div class="article-info">
                                            <div class="article-info-bottom">
                                                <h3 class="article-title">
                                                    <a href="../slasscom-to-release-best-practices-on-wfh/index.html">
                                                        SLASSCOM
                                                        to release best practices on WFH
                                                    </a>
                                                </h3>
                                                <p class="article-excerpt">
                                                    No one could have predicted the
                                                    COVID-19 crisis or the measures that would be necessary to
                                                    effectively combat such a threat. Fortunately, due to its
                                                    v<a class="article-read-more"
                                                        href="../slasscom-to-release-best-practices-on-wfh/index.html">...</a>
                                                </p>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                    </article>
                                    <div class="vcblogandnews-clear"></div>
                                    <article class="item-news first-element-news col-xs-4 vcblogandnews-np-v2-item-load-more-style4 vc-element-post-odd">
                                        <div class="article-image">
                                            <a href="../sri-lankas-it-bpm-industry-a-beacon-of-resilience-in-the-face-of-covid-19/index.html">
                                                <img class="vcblogandnews-thumbs"
                                                     src="../wp-content/uploads/2020/06/COVID-19-446x248.jpg"
                                                     alt="Sri Lanka’s IT-BPM industry: A beacon of resilience in the face of COVID-19">
                                            </a>
                                            <div class="article-category">
                                                <a href="../category/news/index.html"
                                                   title="View all posts in News">News</a>
                                            </div>
                                            <div class="article-info-top">
                                                <div class="article-data">
                                                    <i class="fa fa-calendar-o"></i>June
                                                    11, 2020
                                                </div>
                                                <div class="article-separator">|</div>
                                                <div class="article-comments">
                                                    <i class="fa fa-comment-o"></i>No
                                                    Comments
                                                </div>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                        <div class="article-info">
                                            <div class="article-info-bottom">
                                                <h3 class="article-title">
                                                    <a href="../sri-lankas-it-bpm-industry-a-beacon-of-resilience-in-the-face-of-covid-19/index.html">
                                                        Sri
                                                        Lanka’s IT-BPM industry: A beacon of resilience in the
                                                        face of COVID-19
                                                    </a>
                                                </h3>
                                                <p class="article-excerpt">
                                                    ‘Drifting the curve’ is the SLASSCOM
                                                    industry strategy for building momentum to come out of the
                                                    ‘corner’ (current situation) stronger. When ra<a class="article-read-more"
                                                                                                     href="../sri-lankas-it-bpm-industry-a-beacon-of-resilience-in-the-face-of-covid-19/index.html">...</a>
                                                </p>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="item-news first-element-news col-xs-4 vcblogandnews-np-v2-item-load-more-style4 vc-element-post-even">
                                        <div class="article-image">
                                            <a href="../digital-it-bpm-week-2020-a-valuable-collaboration-from-it-industry/index.html">
                                                <img class="vcblogandnews-thumbs"
                                                     src="../wp-content/uploads/2020/06/ITBPM-Week-1-446x248.png"
                                                     alt="Digital IT/BPM Week 2020: A valuable collaboration from IT industry">
                                            </a>
                                            <div class="article-category">
                                                <a href="../category/news/index.html"
                                                   title="View all posts in News">News</a>
                                            </div>
                                            <div class="article-info-top">
                                                <div class="article-data">
                                                    <i class="fa fa-calendar-o"></i>June
                                                    11, 2020
                                                </div>
                                                <div class="article-separator">|</div>
                                                <div class="article-comments">
                                                    <i class="fa fa-comment-o"></i>No
                                                    Comments
                                                </div>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                        <div class="article-info">
                                            <div class="article-info-bottom">
                                                <h3 class="article-title">
                                                    <a href="../digital-it-bpm-week-2020-a-valuable-collaboration-from-it-industry/index.html">
                                                        Digital
                                                        IT/BPM Week 2020: A valuable collaboration from IT
                                                        industry
                                                    </a>
                                                </h3>
                                                <p class="article-excerpt">
                                                    SLASSCOM has successfully conducted
                                                    the IT/BPM Week two years running, in Badulla and Matara,
                                                    and several other cities in previous years. The IT/BPM W<a class="article-read-more"
                                                                                                               href="../digital-it-bpm-week-2020-a-valuable-collaboration-from-it-industry/index.html">...</a>
                                                </p>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                    </article>
                                    <article class="item-news first-element-news col-xs-4 vcblogandnews-np-v2-item-load-more-style4 vc-element-post-odd">
                                        <div class="article-image">
                                            <a href="../slasscom-norway-sign-2-year-agreement-on-ict-development-and-entrepreneurship/index.html">
                                                <img class="vcblogandnews-thumbs"
                                                     src="../wp-content/uploads/2020/06/Sri-Lanka-Norway-Sign-Agreement-399x248.png"
                                                     alt="SLASSCOM, Norway sign 2-year agreement on ICT Development and Entrepreneurship">
                                            </a>
                                            <div class="article-category">
                                                <a href="../category/news/index.html"
                                                   title="View all posts in News">News</a>
                                            </div>
                                            <div class="article-info-top">
                                                <div class="article-data">
                                                    <i class="fa fa-calendar-o"></i>June
                                                    4, 2020
                                                </div>
                                                <div class="article-separator">|</div>
                                                <div class="article-comments">
                                                    <i class="fa fa-comment-o"></i>No
                                                    Comments
                                                </div>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                        <div class="article-info">
                                            <div class="article-info-bottom">
                                                <h3 class="article-title">
                                                    <a href="../slasscom-norway-sign-2-year-agreement-on-ict-development-and-entrepreneurship/index.html">
                                                        SLASSCOM,
                                                        Norway sign 2-year agreement on ICT Development and
                                                        Entrepreneurship
                                                    </a>
                                                </h3>
                                                <p class="article-excerpt">
                                                    Sri Lanka Association of Software and
                                                    Services Companies (SLASSCOM) and the Norwegian Ministry of
                                                    Foreign Affairs recently entered into a 2-year agree<a class="article-read-more"
                                                                                                           href="../slasscom-norway-sign-2-year-agreement-on-ict-development-and-entrepreneurship/index.html">...</a>
                                                </p>
                                                <div class="vcblogandnews-clear"></div>
                                            </div>
                                        </div>
                                    </article>
                                    <div class="vcblogandnews-clear"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="upb_color" data-bg-override="full" data-bg-color="#fbfbfb" data-fadeout=""
                 data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30"
                 data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true" data-rtl="false"
                 data-custom-vc-row="" data-vc="6.5.0" data-is_old_vc="" data-theme-support=""
                 data-overlay="false" data-overlay-color="" data-overlay-pattern=""
                 data-overlay-pattern-opacity="" data-overlay-pattern-size="" data-seperator="true"
                 data-seperator-type="xlarge_triangle_seperator" data-seperator-shape-size="40"
                 data-seperator-svg-height="60" data-seperator-full-width="true"
                 data-seperator-position="top_seperator" data-seperator-background-color="#ffffff" data-icon="">
            </div>
        </div>
    </section>

</div>

