@{
    ViewData["Title"] = "CountactUs";
}


<div class="master_container" style="width: 100%;float: left;background-color: white;">
    <section class="page_content" id="section-63">
        <div class="container">


            <div class="vc_row-full-width vc_clearfix"></div>
            <div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true"
                 class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_gmaps_widget wpb_content_element">
                                <div class="wpb_wrapper">
                                    <div class="wpb_map_wraper">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d51374833.58467115!2d2.6238553221514467!3d38.19431576673093!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x273b14383b305160!2sPsybox%20(Pvt)%20Ltd!5e0!3m2!1sen!2slk!4v1634885032737!5m2!1sen!2slk"
                                                width="600" height="450" style="border:0;" allowfullscreen=""
                                                frameborder="0" loading="lazy"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vc_row-full-width vc_clearfix"></div>
        </div>


        <!-- ==========================
            contact layout 1
        =========================== -->
        <section class="contact-layout1 pt-0 mt--100 padding-top='0'">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-panel d-flex flex-wrap">
                            <div class="contact-panel__info">
                                <div class="bg-img">
                                    <img src="../assets/images/backgrounds/3.jpg" alt="banner">
                                </div>
                                <div class="contact-block">
                                    <h5 class="contact-block__title">Our Location</h5>
                                    <ul class="contact-block__list list-unstyled">
                                        <li>
                                            No.413, Hermansatate, 1st Step, Ganima, Dodangoda, 12020 Sri Lanka.
                                        </li>
                                    </ul>
                                </div><!-- /.contact-panel__info__block -->
                                <div class="contact-block">
                                    <h5 class="contact-block__title">Quick Contact</h5>
                                    <ul class="contact-block__list list-unstyled">
                                        <li>
                                            <a href="info.psybox@gmail.com"></a>Email: info.psybox@gmail.com
                                        </li>
                                        <li>
                                            <a href="info.psybox@gmail.com"></a>Support: info.psybox@gmail.com
                                        </li>
                                    </ul>
                                </div><!-- /.contact-panel__info__block -->
                                <div class="contact-block">
                                    <h5 class="contact-block__title">Opening Hours</h5>
                                    <ul class="contact-block__list list-unstyled">
                                        <li>Monday - Friday</li>
                                        <li>09:00 AM - 06:00 PM</li>
                                    </ul>
                                </div><!-- /.contact-panel__info__block -->
                                <p class="color-white mb-20">
                                    If you have any questions or need help, feel free
                                    to contact with our team.
                                </p>
                                <a href="tel:0094771719222" class="phone-number">
                                    <i class="icon-phone"></i> <span>0094771719222</span>
                                </a>
                            </div>
                            <form class="contact-panel__form" method="post"
                                  action="http://7oroof.com/demos/datasoft/assets/php/contact.php"
                                  id="contactForm">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="contact-panel__title">Get In Touch</h4>
                                        <p class="contact-panel__desc mb-20">
                                            Our deep pool of certified
                                            engineers and IT staff are ready to
                                            help you to keep your IT business safe & ensure high availability.
                                        </p>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Name"
                                                   id="contact-name" name="contact-name" required>
                                        </div>
                                    </div><!-- /.col-lg-6 -->
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Email"
                                                   id="contact-email" name="contact-email" required>
                                        </div>
                                    </div><!-- /.col-lg-6 -->
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Phone"
                                                   id="contact-Phone" name="contact-phone" required>
                                        </div>
                                    </div><!-- /.col-lg-6 -->
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                   placeholder="Website (optional)" id="contact-website"
                                                   name="contact-website">
                                        </div>
                                    </div><!-- /.col-lg-6 -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea class="form-control" placeholder="Describe your inquirey!"
                                                      id="contact-message" name="contact-message"></textarea>
                                        </div>
                                        <button type="submit"
                                                class="btn btn__primary btn__icon btn__xhight mt-10">
                                            <span>Submit Request</span> <i class="icon-arrow-right"></i>
                                        </button>
                                        <div class="contact-result"></div>
                                    </div><!-- /.col-lg-12 -->
                                </div><!-- /.row -->
                            </form>
                        </div>
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.contact layout 1 -->
    </section>
</div>

