@{
    ViewData["Title"] = "Faq";
    Layout = "/Views/Shared/_ServicesLayout.cshtml";
}


        <!-- ========================
           page title
        =========================== -->
        <section class="page-title page-title-layout6 bg-overlay bg-overlay-gradient bg-parallax text-center">
            <div class="bg-img"><img src="../assets/images/page-titles/6.jpg" alt="background"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6 offset-xl-3">
                        <h1 class="pagetitle__heading">What Are You Searching For?</h1>
                        <p class="pagetitle__desc">
                            We are experienced professionals who understand that It services is
                            changing, and
                            are true partners who care about your success.
                        </p>
                        <form class="pagetitle__form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <button class="btn" type="submit"><i class="icon-search"></i></button>
                        </form>
                    </div><!-- /.col-xl-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.page-title -->
        <!-- ========================
          Secondary Nav
        =========================== -->
        <section class="secondary-nav sticky-top py-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="nav nav-tabs justify-content-center">
                            <a asp-action="AboutUs" asp-controller="Home" class="nav__link">About Us</a>
                            <a asp-action="WhyChooseUs" asp-controller="Home" class="nav__link">Why Choose Us</a>
                            <a asp-action="LeaderShip" asp-controller="Home" class="nav__link">Leadership Team</a>
                            <a asp-action="Awards" asp-controller="Home" class="nav__link">Awards & Recognition</a>
                            <a asp-action="faq" asp-controller="Home" class="nav__link active">Help & FAQs</a>
                            <a asp-action="Careers" asp-controller="Home" class="nav__link">Careers</a>
                        </nav>
                    </div><!-- /.col-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.Secondary Nav -->







        <div style="width: 100%;float: left;">
            <section class="page_content" id="section-63">


                <!-- ======================
                   FAQ
                ========================= -->
                <section class="faq pt-120 pb-70">
                    <div class="bg-img"><img src="assets/images/backgrounds/4.png" alt="backgrounds"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                                <div class="heading text-center mb-50">
                                    <h2 class="heading__subtitle">Frequently asked questions</h2>
                                    <h3 class="heading__title">
                                        1900 Resourses & 870 Satisfied
                                        Users Over The Globe!
                                    </h3>
                                </div><!-- /.heading -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                        <div class="row" id="accordion">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <div class="accordion-item">
                                    <div class="accordion__header" data-toggle="collapse" data-target="#collapse1">
                                        <a class="accordion__title" href="#">Which Plan Is Right For Me?</a>
                                    </div><!-- /.accordion-item-header -->
                                    <div id="collapse1" class="collapse" data-parent="#accordion">
                                        <div class="accordion__body">
                                            <p class="p1">
                                                With any financial product that you buy, it is important that you know
                                                you are getting the best
                                                advice from a reputable company as often
                                            </p>
                                        </div><!-- /.accordion-item-body -->
                                    </div>
                                </div><!-- /.accordion-item -->
                                <div class="accordion-item">
                                    <div class="accordion__header" data-toggle="collapse" data-target="#collapse2">
                                        <a class="accordion__title" href="#">Do I have to commit to a contract?</a>
                                    </div><!-- /.accordion-item-header -->
                                    <div id="collapse2" class="collapse" data-parent="#accordion">
                                        <div class="accordion__body">
                                            <p class="p1">
                                                With any financial product that you buy, it is important that you know
                                                you are getting the best
                                                advice from a reputable company as often
                                            </p>
                                        </div><!-- /.accordion-item-body -->
                                    </div>
                                </div><!-- /.accordion-item -->
                                <div class="accordion-item opened">
                                    <div class="accordion__header" data-toggle="collapse" data-target="#collapse3">
                                        <a class="accordion__title" href="#">What Payment Methods Are Available?</a>
                                    </div><!-- /.accordion-item-header -->
                                    <div id="collapse3" class="collapse show" data-parent="#accordion">
                                        <div class="accordion__body">
                                            <p class="p1">
                                                With any financial product that you buy, it is important that you know
                                                you are getting the best
                                                advice from a reputable company as often
                                            </p>
                                        </div><!-- /.accordion-item-body -->
                                    </div>
                                </div><!-- /.accordion-item -->
                                <div class="accordion-item">
                                    <div class="accordion__header" data-toggle="collapse" data-target="#collapse4">
                                        <a class="accordion__title" href="#">What if I pick the wrong plan?</a>
                                    </div><!-- /.accordion-item-header -->
                                    <div id="collapse4" class="collapse" data-parent="#accordion">
                                        <div class="accordion__body">
                                            <p class="p1">
                                                With any financial product that you buy, it is important that you know
                                                you are getting the best
                                                advice from a reputable company as often
                                            </p>
                                        </div><!-- /.accordion-item-body -->
                                    </div>
                                </div><!-- /.accordion-item -->
                                <div class="accordion-item">
                                    <div class="accordion__header" data-toggle="collapse" data-target="#collapse5">
                                        <a class="accordion__title" href="#">Any contracts or commitments?</a>
                                    </div><!-- /.accordion-item-header -->
                                    <div id="collapse5" class="collapse" data-parent="#accordion">
                                        <div class="accordion__body">
                                            <p class="p1">
                                                With any financial product that you buy, it is important that you know
                                                you are getting the best
                                                advice from a reputable company as often
                                            </p>
                                        </div><!-- /.accordion-item-body -->
                                    </div>
                                </div><!-- /.accordion-item -->
                            </div><!-- /.col-lg-6 -->
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <div class="accordion-item">
                                    <div class="accordion__header" data-toggle="collapse" data-target="#collapse6">
                                        <a class="accordion__title" href="#">What are my payment options?</a>
                                    </div><!-- /.accordion-item-header -->
                                    <div id="collapse6" class="collapse" data-parent="#accordion">
                                        <div class="accordion__body">
                                            <p class="p1">
                                                With any financial product that you buy, it is important that you know
                                                you are getting the best
                                                advice from a reputable company as often
                                            </p>
                                        </div><!-- /.accordion-item-body -->
                                    </div>
                                </div><!-- /.accordion-item -->
                                <div class="accordion-item">
                                    <div class="accordion__header" data-toggle="collapse" data-target="#collapse7">
                                        <a class="accordion__title" href="#">How does the free trial work?</a>
                                    </div><!-- /.accordion-item-header -->
                                    <div id="collapse7" class="collapse" data-parent="#accordion">
                                        <div class="accordion__body">
                                            <p class="p1">
                                                With any financial product that you buy, it is important that you know
                                                you are getting the best
                                                advice from a reputable company as often
                                            </p>
                                        </div><!-- /.accordion-item-body -->
                                    </div>
                                </div><!-- /.accordion-item -->
                                <div class="accordion-item">
                                    <div class="accordion__header" data-toggle="collapse" data-target="#collapse8">
                                        <a class="accordion__title" href="#">What Payment Methods Are Available?</a>
                                    </div><!-- /.accordion-item-header -->
                                    <div id="collapse8" class="collapse" data-parent="#accordion">
                                        <div class="accordion__body">
                                            <p class="p1">
                                                With any financial product that you buy, it is important that you know
                                                you are getting the best
                                                advice from a reputable company as often
                                            </p>
                                        </div><!-- /.accordion-item-body -->
                                    </div>
                                </div><!-- /.accordion-item -->
                                <div class="accordion-item">
                                    <div class="accordion__header" data-toggle="collapse" data-target="#collapse9">
                                        <a class="accordion__title" href="#">How does the free trial work?</a>
                                    </div><!-- /.accordion-item-header -->
                                    <div id="collapse9" class="collapse" data-parent="#accordion">
                                        <div class="accordion__body">
                                            <p class="p1">
                                                With any financial product that you buy, it is important that you know
                                                you are getting the best
                                                advice from a reputable company as often
                                            </p>
                                        </div><!-- /.accordion-item-body -->
                                    </div>
                                </div><!-- /.accordion-item -->
                                <div class="accordion-item opened">
                                    <div class="accordion__header" data-toggle="collapse" data-target="#collapse10">
                                        <a class="accordion__title" href="#">
                                            If I have questions, where can I find
                                            answers?
                                        </a>
                                    </div><!-- /.accordion-item-header -->
                                    <div id="collapse10" class="collapse show" data-parent="#accordion">
                                        <div class="accordion__body">
                                            <p class="p1">
                                                With any financial product that you buy, it is important that you know
                                                you are getting the best
                                                advice from a reputable company as often
                                            </p>
                                        </div><!-- /.accordion-item-body -->
                                    </div>
                                </div><!-- /.accordion-item -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </section><!-- /.FAQ -->
            </section>

            <!-- ======================
             Work Process
            ========================= -->
            <section class="work-process pt-130 pb-130">
                <div class="bg-img"><img src="../assets/images/backgrounds/2.jpg" alt="background"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-7">
                            <div class="banners-wrapper sticky-top">
                                <div class="tab-content mb-50">
                                    <div class="tab-pane fade show active" id="tab1">
                                        <div class="video__banner">
                                            <img src="../assets/images/work-process/1.jpg" class="rounded" alt="banner">
                                            <a class="video__btn video__btn-white popup-video"
                                               href="#">
                                                <div class="video__player">
                                                    <i class="fa fa-play"></i>
                                                </div>
                                            </a>
                                        </div><!-- /.video__banner -->
                                    </div>
                                    <div class="tab-pane fade" id="tab2">
                                        <div class="video__banner">
                                            <img src="../assets/images/work-process/2.jpg" class="rounded" alt="banner">
                                            <a class="video__btn video__btn-white popup-video"
                                               href="#">
                                                <div class="video__player">
                                                    <i class="fa fa-play"></i>
                                                </div>
                                            </a>
                                        </div><!-- /.video__banner -->
                                    </div>
                                    <div class="tab-pane fade" id="tab3">
                                        <div class="video__banner">
                                            <img src="../assets/images/work-process/3.jpg" class="rounded" alt="banner">
                                            <a class="video__btn video__btn-white popup-video"
                                               href="#">
                                                <div class="video__player">
                                                    <i class="fa fa-play"></i>
                                                </div>
                                            </a>
                                        </div><!-- /.video__banner -->
                                    </div>
                                    <div class="tab-pane fade" id="tab4">
                                        <div class="video__banner">
                                            <img src="../assets/images/work-process/4.jpg" class="rounded" alt="banner">
                                            <a class="video__btn video__btn-white popup-video"
                                               href="#">
                                                <div class="video__player">
                                                    <i class="fa fa-play"></i>
                                                </div>
                                            </a>
                                        </div><!-- /.video__banner -->
                                    </div>
                                </div><!-- /.tab-content -->
                                <div class="cta-banner mt-30 mb-30 d-flex flex-wrap align-items-center">
                                    <h4 class="cta__title my-3 pr-30">
                                        We partner with brands to help them improve their Software and IT services. Ready to start your next
                                        project? Drop us a line or two at: <a href="mailto:Datasoft@7oroof.com">Datasoft@7oroof.com</a>
                                    </h4>
                                    <a href="#" class="btn btn__primary btn__primary-style2">
                                        <span>Request Demo</span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div> <!-- /.cta-banner -->
                            </div>
                        </div><!-- /.col-lg-7 -->
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-5">
                            <div class="heading mb-70">
                                <h2 class="heading__subtitle color-primary">How We Works!!</h2>
                                <h3 class="heading__title color-white">Deliver Only Exceptional Quality, And Improve! </h3>
                            </div>
                            <nav class="nav nav-tabs">
                                <!-- process Item #1 -->
                                <a class="process-item active" data-toggle="tab" href="#tab1">
                                    <div class="process-item__content">
                                        <h4 class="process-item__title">Brainstorming</h4>
                                        <p class="process-item__desc">
                                            The first step is to take the projects data & think about it to manage
                                            all aspects of your software assets including maintenance.
                                        </p>
                                    </div>
                                </a><!-- /.process-item -->
                                <!-- process Item #2 -->
                                <a class="process-item" data-toggle="tab" href="#tab2">
                                    <div class="process-item__content">
                                        <h4 class="process-item__title">Concept Prototype</h4>
                                        <p class="process-item__desc">
                                            To know about the product, customers & competitors offer integral
                                            communication services software assets.
                                        </p>
                                    </div>
                                </a><!-- /.process-item -->
                                <!-- process Item #3 -->
                                <a class="process-item" data-toggle="tab" href="#tab3">
                                    <div class="process-item__content">
                                        <h4 class="process-item__title">Design Layout</h4>
                                        <p class="process-item__desc">
                                            Start to work on the design taking with collected data, we're
                                            responsible for our process and results.
                                        </p>
                                    </div>
                                </a><!-- /.process-item -->
                                <!-- process Item #4 -->
                                <a class="process-item" data-toggle="tab" href="#tab4">
                                    <div class="process-item__content">
                                        <h4 class="process-item__title">Evaluation</h4>
                                        <p class="process-item__desc">
                                            Reach a conclusion from the investigations about product and we thank
                                            each of our great clients projects.
                                        </p>
                                    </div>
                                </a><!-- /.process-item -->
                            </nav>
                        </div><!-- /.col-lg-5 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section><!-- /.Work Process -->
        </div>
